.about {
  // background-color: #d3d3d3;
  // background-color: #adefd1ff;
  .container_ {
    padding-top: 75px;
    display: flex;
    // background-color: #ff4e00;
    // background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    background-color: #fdb813;
    background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .containerData {
      h2 {
        margin-bottom: 50px;
        font-size: 3rem;
        font-weight: 300;
        color: white;
      }
      .content {
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        h2 {
          text-align: center;
        }
        .info {
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
        .image {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 180px;
            object-fit: contain;
          }
          h4 {
            margin: 0px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .organisationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 15px;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    color: white;
    .organisation-data {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 300px;
        object-fit: contain;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 3rem;
      font-weight: 300;
    }
  }
}
@media screen and (max-width: 769px) {
  .about {
    .container_ {
      .containerData {
        .content {
          .info {
            flex-direction: column;
          }
        }
      }
    }
    .organisationContainer {
      flex-direction: column;
      .organisation-data {
        flex-direction: column;
        img {
          width: 250px;
        }
      }
    }
  }
}
