.about {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  padding-top: 60px;
  .container_ {
    display: flex;
    height: 500px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 40px 0px;
    border-radius: 25px;
    padding: 0px 15px;

    h2 {
      margin: 25px;
      font-size: 2rem;
    }
    .content {
      display: flex;
      flex-direction: row;
      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 180px;
          object-fit: contain;
        }
      }
    }
  }
  .organisationContainer {
    display: flex;
    height: 500px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 20px 0px;
    border-radius: 25px;
    padding: 0px 15px;
    h2 {
      margin: 25px;
      font-size: 2rem;
    }
  }
}
