.footer_ {
  background-color: #101820ff;
  color: #f2aa4cff;
  padding-top: 50px;

  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h2 {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
    }

    .imageLogo {
      margin: 20px;
      img {
        width: 120px;
      }
    }

    .address {
      margin: 20px;
      address {
        font-size: 1.2rem;
        font-weight: 200;
        color: #adefd1ff;
      }
    }

    .Links {
      margin: 20px;
      .followLinks {
        display: flex;
        justify-content: center;
        a {
          font-size: 2rem;
          margin-right: 20px;
        }
      }
    }

    .contact {
      margin: 20px;
      h2 {
        text-align: center;
      }
      .contactUs_ {
        color: #adefd1ff;
        li {
          a {
            margin-left: 15px;
            text-decoration: none;
            color: #adefd1ff;
          }
        }
      }
    }

    ul {
      padding: 0;
      li {
        font-size: 1.2rem;
        list-style: none;
      }
    }
  }

  .foot {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.2rem;
      font-weight: 200;
    }
  }
}

@media screen and (max-width: 846px) {
  .footer_ {
    .details {
      img {
        display: block;
      }
      h2 {
        font-size: 1.4rem;
      }
      .address {
        address {
          font-size: 1rem;
        }
      }
      .contactUs_ {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .footer_ {
    .details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .foot {
      p {
        font-size: 0.7rem;
      }
    }
  }
}
