.navBar {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // background-color: #101820ff;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  .Link {
    text-decoration: none;
    span {
      height: 100%;
      img {
        width: 40px;
        object-fit: contain;
        margin-right: 15px;
      }
      cursor: pointer;
      color: #adefd1ff;
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-family: "Arya", sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .menu-content-container {
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-right: 20px;

      li {
        margin-right: 20px;
        a {
          font-size: 1.4rem;
          font-weight: 600;
          margin-right: 20px;
          color: #f2aa4cff;
          text-decoration: none;
          transition: all 0.4s;
          &:hover {
            background-color: #adefd1ff;
            color: black;
            padding: 10px 20px;
            border-radius: 15px;
          }
        }
      }
    }
  }
  .menuIcon {
    color: white;
    z-index: 1;
    font-size: 1.6rem;
    margin-right: 20px;
    cursor: pointer;
    display: none;
  }
}
.fixed {
  background-color: #101820ff;
}

@media screen and (max-width: 900px) {
  .navBar {
    .menu-content-container {
      width: 300px;
      // height: calc(100% -65px);
      background: #101820ff;
      position: absolute;
      top: 65px;
      left: -300px;
      transition: 300ms ease left;
      &.active {
        left: 0px;
      }
      ul {
        display: block;
        li {
          display: block;
          margin: 0px;
          padding: 15px 0px;
          a {
            font-size: 1.1rem;
            padding-bottom: 20px;
          }
        }
      }
    }
    .menuIcon {
      display: flex;
      align-items: center;
    }
  }
}
