.navBar {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // background-color: #101820ff;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  span {
    img {
      width: 40px;
      object-fit: contain;
      margin-right: 15px;
    }
    color: #adefd1ff;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family: "Arya", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    margin: 0px;

    li {
      padding: 0px 20px;
      margin-right: 20px;
      a {
        font-size: 1.4rem;
        font-weight: 600;
        margin-right: 20px;
        color: #f2aa4cff;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          background-color: #adefd1ff;
          color: black;
          padding: 10px 20px;
          border-radius: 15px;
        }
      }
    }
  }
}
.fixed {
  background-color: #101820ff;
}
